{% extends 'base.html' %}

{% load static %}
{% block content %}

<link rel='stylesheet' type="text/css" href="{% static 'style.css' %}">
<div class="container">
<form class="form-sighin" method='post'>{% csrf_token %}
    <h1 class="h3 mb-3 fw-normal"><br><center>新規登録</center></h1>
    {% if error %}
    {{ error}}
    {% endif %}
    <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username_data" required autofocus>
        <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password_data" required>
        <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">新規登録</button>
    <center>
        <br>
        <p class="mt-5 mb-3 text-muted">© 2017–2021</p>
    </center>
</form>
</div>
{% endblock content %}